form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.trip-full-width {
  width: 100%;
}

.controls-container {
  margin: 0px;
}

/* Fixes a gap between buttons */
.mat-raised-button {
  margin-left: 8px;
}
