<form [formGroup]="tripForm" (submit)="onSubmit()">
  <mat-form-field class="trip-full-width">
    <mat-label>Destination</mat-label>
    <input matInput placeholder="Paris" formControlName="destination">
  </mat-form-field>
  <!--<ng-container *ngFor="let validation of validation_messages.name">
    <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation}}</mat-error>
  </ng-container-->
  <div class="controls-container" fxLayoutAlign="end" mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button [disabled]="tripForm.invalid || isBusy" color="primary" type="submit">Save</button>
  </div>
</form>
