<div fxLayout="column" class="app-container">
  <app-title [value]="appTitle"></app-title>
  <div fxFlex="grow" class="background">
    <router-outlet></router-outlet>
  </div>
  <div>FOOTER</div>
</div>
