.app-container {
  height: 100%;
}

@media only screen and (min-width: 1025px) {
  .app-container {
    margin-left: auto;
    margin-right: auto;

    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;

    height: 100%;

    overflow: auto;

    background-color: white;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  }

  .background {
    background-color: white;
  }
}
