/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (min-width: 1025px) {
  body {
    /* background-color: whitesmoke; */
    background-color: #E8EAF6;
  }
}

/* Prevents highlighting a button triggering a dialog after a dialog is closed */
.mat-button-focus-overlay { background-color: transparent!important; }
