<div class="controls-container">
  <button mat-raised-button color="primary" (click)="onAddTrip()">Add Trip</button>
</div>
<table mat-table [dataSource]="data">
  <!-- Name Definition -->
  <ng-container matColumnDef="destination">
    <th *matHeaderCellDef>Destination</th>
    <td *matCellDef="let element">{{element.destination}}</td>
  </ng-container>

  <!-- Edit Control -->
  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef>Edit</th>
    <td *matCellDef="let element" class="cell-controls">
      <button mat-icon-button (click)="onEdit(element.key)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onRemove(element.destination, element.key)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
